.stretched-icon-for-jana {
    width: 2.5em;
}

.stretched-icon-for-novakova {
    width: 4.7em;
}

.stretched-icon-for-jana-novak {
    width: 6.9em;
}

/**
* TODO: Better fit for text in the menu
*/
